spacy==3.7.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
scikit-learn==1.5.2
matplotlib==3.9.2
streamlit==1.39.0
g4f==0.3.2.9
torch==2.4.1
curl_cffi==0.7.2
datasets==3.0.1
transformers==4.45.1
huggingface==0.0.1
